{% if main_menu %}
	{% for item in items %}
		<a href="{{ item.link }}" target="{{ item.target }}" class="text-sm font-semibold leading-6 text-gray-900">{{ item.title }}</a>
	{% endfor %}
{% endif %}

